
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Home</title>
</head>

<body>


 <nav class="navbar navbar-expand-md navbar-light text-gray-700 body-font bg-gray-200 container-fluid">	
    <span class="flex title-font font-medium items-center text-gray-900 mb-0 ml-0 md:mb-0 " id="logo">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSOs9y-Rohp00jwfpWBvXiOBiN9xsGFd3y13A&usqp=CAU" class="w-10 h-10 p-0 mt-2 mb-2  rounded-full logod" >
      <span class="ml-1 mr-20 text-xl ">IIPE</span>
    </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item hover:text-gray-900">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item hover:text-gray-900">
                    <a class="nav-link" href="/">About</a>
                </li>
                <li class="nav-item hover:text-gray-900">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            </ul>
          	      <div class="lg:w-2/5 inline-flex lg:justify-end mr-10 lg:ml-0">
      <a href="/log" class=" btn inline-flex items-center border-0 py-1 px-1 focus:outline-none hover:bg-gray-400 rounded text-base mt-0 md:mt-0">
		  Auth Login
        <svg style="display:inline;"fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24     24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
        </div>
	</nav>

 
	                                              <!-- content page -->
	
	<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-blue-500 tracking-widest font-medium title-font mb-1">IIPE ELECTIONS POLAROID</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">IIPE General Elections 2020</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Participating in an extra-curricular activity while at university has substantial career benefits; yet graduate employers often look for something more. Assuming a more active role within the students' union, or it's numerous societies and sports clubs, is a good idea.</p>
    </div>
    <div class="flex flex-wrap">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">President</h2>
        <p class="leading-relaxed text-base mb-4">A president is usually the leader of a student body , and presides over its organization within a student council.</p>
 
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">General Secretary</h2>
        <p class="leading-relaxed text-base mb-4">A secretary, administrative professional is a person whose work consists of supporting management, including executives, ...</p>

      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Treasurer</h2>
        <p class="leading-relaxed text-base mb-4">As the name suggests looks after the monetary transactions and bills related to student body.</p>
 
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200">
        <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Others</h2>
        <p class="leading-relaxed text-base mb-4">Other posts like CR,cultural secretary,sports secratary,technical secretary etc and there members.</p>
      </div>
    </div>
    <button class="flex mx-auto mt-16 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">
		<a href="/register"style="color:white;">Start voting</a></button>
  </div>
</section>
	
	
	
	<!-- d-flex justify-content-start -->
	<!-- <form action="/remove" method="POST">
	<input type="email" placeholder="email" name="dev">
		<button type="submit">
			submit
		</button>
	</form> -->
<!-- footer starts here -->

<footer class="text-gray-700 body-font ">
    <div class="bg-gray-200">
    <div class=" mx-auto py-3 px-3 mt-5 flex d-flex justify-content-end  flex-wrap flex-col sm:flex-row">	
      <p class="text-gray-500 text-sm mr-3 text-center sm:text-left mb-0">© 2020 iipe.ac.in —
        <a href="/" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@scarlxd21_apurv097</a>
      </p>
    
    </div>
  </div>
</footer>	
		




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>
	
